.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(45deg, rgba(7, 50, 79, 0.2), rgba(255, 255, 255, 1)); */
}

.prevent-select{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
/* 
font-family: 'Bodoni Moda', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Serif', serif;
font-family: 'Roboto Slab', serif; */